{% extends 'base.html' %}

{% block meta %}{{ block.super }}
<meta http-equiv="refresh" content="5">
{% endblock %}

{% block content %}
<div class="col-md-12">
  <div style="text-align: center">
    <h1>{{ request.current_music }}</h1>

    <div class="row">
      <div class="col-md-1 col-md-offset-5">
        <form action="{% url 'vote_next' %}" method="post">
          {% csrf_token %}
          <input type="submit" class="btn btn-primary btn-lg" value="Next" />
        </form>
      </div>
      <div class="col-md-1">
        <form action="{% url 'vote_keep' %}" method="post">
          {% csrf_token %}
          <input type="submit" class="btn btn-primary btn-lg" value="Keep" />
        </form>
      </div>
    </div>

    <br/>
    {% for vote in votes %}
      <p class="text-{% if vote.point >= 0 %}danger{% else %}success{% endif %}">
      {% if vote.reverse %}{{ vote.reverse }}{% else %}{{ vote.ip }}{% endif %}
      :
      {% if vote.point >= 0 %}next{% else %}keep{% endif %}
      </p>
    {% empty %}
      No vote.
    {% endfor %}

    {% if mode = 'dynamic' %}
      <br/>
      <h3>Clients</h3>
      <ul>
      {% for client in clients %}
        {% if client.up %}
          <li>{{ client.name }}</li>
        {% endif %}
      {% endfor %}
      </ul>
    {% endif %}
  </div>
</div>
{% endblock %}
